
<header [class]="classNames">
    <div class="content-wrapper">
        <div class="menu-list">
            <h1 class="logo">Logo</h1>
            <div class="menu-wrapper">
                <a class="active" routerLink="/home">Home</a>
                <a routerLink="/about">About</a>
                <a routerLink="/contact">Contact</a>
                <!-- @for (item of headerMenu; track item.url) {
                    <a [class]="isActive(item.url)" [attr.routerLink]="item.url">{{item.name}}</a>
                } -->
                <!-- 
                <a
                    *ngFor="let item of headerMenu;"
                    [class]="isActive(item.url)"
                    [attr.routerLink]="item.url"
                >
                    {{item.name}}
                </a>  -->
            </div>
        </div>
  
        <div class="option-wrapper">
            <div class="weather-wrapper">
                <span>+10°</span>
                <ng-icon name="bootstrapCloudRain" />
            </div>
            <div class="input-wrapper">
                <app-input-common [(str)]="searchParams" label="Type to search..." (strChange)="handleSearchChange($event)"/>
            </div>
        </div>
    </div>
</header>