@use "@styles/_variable.module.scss" as variable;
@use "@styles/_mixin.module.scss" as mixin;
.container {
    width: 100%;
    height: 100px;
    padding: 10px 20px;
    background-color: variable.$secondary_color;
    color: variable.$primary_text_color;
    font-weight: 400;
    @include mixin.flexCommon(column, start, start);
    @include mixin.flexCustom(10px);
    @include mixin.radiusCommon(10px);

    .title {
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100%;
    }

    .date {
        font-size: 12px;
        color: variable.$secondary_text_color;
    }
}