$primary_color: #f8f9fa;
$secondary_color: #dedede;
$bg_grey_color: #868e96;

$side_color: #f9f9f9;

$danger_text_color: #ce2245;
$success_text_color: #33ba48;
$info_text_color: #23afb6;
$warning_text_color: #e3bc10;

$body_text_color: #FFFFFF;
$blur_text_color: rgba(255,255,255,0.5);

$primary_text_color: #000000;
$secondary_text_color: rgba(0,0,0,0.4);

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;


$content_lg_width: 1170px;