@use '@styles/_mixin.module.scss' as mixin;
@use '@styles/_variable.module.scss' as variable;
.container {
    @include mixin.radiusCommon();
    @include mixin.flexCommon(row, center, center);
    padding: 10px 25px;
    background-color: rgba(255, 255, 255, 0.2);
    height: 46px;
    width: 100%;
    .inputCommon {
        width: 100%;
        background-color: transparent;
        outline: none;
        border: 0;
    }

    .inputCommon::placeholder {
        color: variable.$blur_text_color;
    }
}